body {
  background: #475657;
  color: #efefeb;
}

a {
  color: #efefeb;
}

body > main > article {
  margin: 4px;
  padding: 5px;
  border: 1px solid #393a10;
  border-radius: 7pt;
  background: #393a10;
}

body > nav {
  margin: 4px;
  padding: 5px;
  border: 1px solid #4a6d7c;
  border-radius: 7pt;
  background: #4a6d7c;
}

body > footer {
  display: block;
  margin: 4px;
  padding: 5px;
  min-height: 100px;
  border: 1px solid #4a6d7c;
  border-radius: 7pt;
  background: #4a6d7c;
}
